# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

### Above combination will ignore all files without extension ###

*.aux
*.fdb_latexmk
*.fls
*.log
*.pdf
*.synctex.gz
*.out
*.out.dSYM
*.sw*

